@import "tailwindcss";

:root {
  --background: #0a0a0a;
  --foreground: #fafafa;
  --muted: #1a1a1a;
  --muted-foreground: #a1a1a1;
  --border: #262626;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes breathe {
  0%,
  100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
