openapi: 3.1.0
info:
  title: Linq Partner API
  version: 1.0.0
  description: |
    The Linq Partner API enables you to send and receive iMessages programmatically at scale. Build powerful messaging experiences, automate conversations, and integrate iMessage infrastructure directly into your applications.

    Messages are sent through Apple's iMessage protocol using real devices, ensuring full compatibility with all iMessage features including read receipts, typing indicators, reactions, and rich media attachments.

    ## Getting Started

    All API requests require authentication via the `Authorization: Bearer` header. Your bearer token determines which phone numbers you can send from and which data you can access.

    ```bash
    curl https://api.linqapp.com/api/partner/v3/chats \
      -H "Authorization: Bearer your_token_here"
    ```

    ## Key Concepts

    - **Chats**: Conversation threads with one or more participants
    - **Messages**: Individual messages within a chat, supporting text, attachments, effects, and reactions
    - **Participants**: Phone numbers or email addresses involved in a conversation
    - **Attachments**: Files (images, videos, documents, audio) sent with messages
    - **Webhooks**: Real-time notifications for incoming messages, reactions, and events

    ## Trace Context (OpenTelemetry)

    The Linq API supports [W3C Trace Context](https://www.w3.org/TR/trace-context/) for distributed tracing. All API responses include a `trace_id` field that can be used for debugging and support requests.

    Linq generates a new trace context for each incoming request. Any standardized `traceparent` or `tracestate` headers you provide will be ignored and replaced with a server-generated trace ID. This is by design per the W3C specification's security recommendations for public APIs acting as trust boundaries.
    If you need to correlate multiple API requests on your end, we recommend:
      - Using our `trace_id` returned in each API response
      - Maintaining your own correlation ID and storing a mapping to our trace IDs
      - Add your own custom headers as needed


    ## Example Apps

    These open-source example apps show what you can build with the Linq Partner API. Each repo is ready to clone, configure with your API keys, and run.

    ### AI Agent
    A complete, open-source example of a Claude-powered AI agent running on iMessage via the Linq Blue API. Fork it, customize it, and deploy your own in minutes.

    [🔗 Use Case](https://linqapp.com/s/use-cases/ai-agent)

    [📦 GitHub Repo](https://github.com/linq-team/ai-agent-example)

    ### Bookings Agent
    A booking agent powered by Claude that searches restaurants, books tables, and manages reservations through Resy — all from iMessage, built on Linq. Text the number to try it, or clone the open-source repo to run your own.

    [🔗 Use Case](https://linqapp.com/s/use-cases/bookings-agent)

    [📦 GitHub Repo](https://github.com/linq-team/linq-resy-agent)

    ### Markets Agent
    Kai is an open-source trading agent with 14 Claude tools, RSA-PSS signed Kalshi API calls, and rich iMessage features — built on Linq. Search markets, place trades, and track your portfolio entirely via text.

    [🔗 Use Case](https://linqapp.com/s/use-cases/kalshi-agent)

    [📦 GitHub Repo](https://github.com/linq-team/kalshi-agent)
  contact:
    name: Linq API Support
    email: support@linq.com
servers:
  - url: https://api.linqapp.com/api/partner
    description: Production server
security:
  - BearerAuth: []
tags:
  - name: Chats
    x-page-title: Chats
    x-page-icon: comments
    description: |
      A Chat is a conversation thread with one or more participants.

      To begin a chat, you must create a Chat with at least one recipient handle.
      Including multiple handles creates a group chat.

      When creating a chat, the `from` field specifies which of your
      authorized phone numbers the message originates from. Your authentication token grants
      access to one or more phone numbers, but the `from` field determines the actual sender.

      **Handle Format:**
      - Handles can be phone numbers or email addresses
      - Phone numbers MUST be in E.164 format (starting with +)
      - Phone format: `+[country code][subscriber number]`
      - Example phone: `+12223334444` (US), `+442071234567` (UK), `+81312345678` (Japan)
      - Example email: `user@example.com`
      - No spaces, dashes, or parentheses in phone numbers
  - name: Messages
    x-page-title: Messages
    x-page-icon: paper-plane
    description: |
      Messages are individual text or multimedia communications within a chat thread.

      Messages can include text, attachments, special effects (like confetti or fireworks),
      and reactions. All messages are associated with a specific chat and sent from a
      phone number you own.

      Messages support delivery status tracking, read receipts, and editing capabilities.
  - name: Attachments
    x-page-title: Attachments
    x-page-icon: paperclip
    description: |
      Send files (images, videos, documents, audio) with messages by providing a URL in a media part.
      Pre-uploading via `POST /v3/attachments` is **optional** and only needed for specific optimization scenarios.

      ## Sending Media via URL (up to 10MB)

      Provide a publicly accessible HTTPS URL with a [supported media type](#supported-file-types) in the `url` field of a media part.

      ```json
      {
        "parts": [
          { "type": "media", "url": "https://your-cdn.com/images/photo.jpg" }
        ]
      }
      ```

      This works with any URL you already host — no pre-upload step required. **Maximum file size: 10MB.**

      ## Pre-Upload (required for files over 10MB)

      Use `POST /v3/attachments` when you want to:
      - **Send files larger than 10MB** (up to 100MB) — URL-based downloads are limited to 10MB
      - **Send the same file to many recipients** — upload once, reuse the `attachment_id` without re-downloading each time
      - **Reduce message send latency** — the file is already stored, so sending is faster

      **How it works:**
      1. `POST /v3/attachments` with file metadata → returns a presigned `upload_url` (valid for **15 minutes**) and a permanent `attachment_id`
      2. PUT the raw file bytes to the `upload_url` with the `required_headers` (no JSON or multipart — just the binary content)
      3. Reference the `attachment_id` in your media part when sending messages (no expiration)

      **Key difference:** When you provide an external `url`, we download and process the file on every send.
      When you use a pre-uploaded `attachment_id`, the file is already stored — so repeated sends skip the download step entirely.

      ## Domain Allowlisting

      Attachment URLs in API responses are served from `cdn.linqapp.com`. This includes:
      - `url` fields in media and voice memo message parts
      - `download_url` fields in attachment and upload response objects

      If your application enforces domain allowlists (e.g., for SSRF protection), add:

      ```
      cdn.linqapp.com
      ```

      ## Supported File Types

      - **Images:** JPEG, PNG, GIF, HEIC, HEIF, TIFF, BMP
      - **Videos:** MP4, MOV, M4V
      - **Audio:** M4A, AAC, MP3, WAV, AIFF, CAF, AMR
      - **Documents:** PDF, TXT, RTF, CSV, Office formats, ZIP
      - **Contact & Calendar:** VCF, ICS

      ## Audio: Attachment vs Voice Memo

      Audio files sent as media parts appear as **downloadable file attachments** in iMessage.
      To send audio as an **iMessage voice memo bubble** (with native inline playback UI),
      use the dedicated `POST /v3/chats/{chatId}/voicememo` endpoint instead.

      ## File Size Limits

      - **URL-based (`url` field):** 10MB maximum
      - **Pre-upload (`attachment_id`):** 100MB maximum
  - name: Phone Numbers
    x-page-title: Phone Numbers
    x-page-icon: phone
    description: |
      Phone Numbers represent the phone numbers assigned to your partner account.

      Use the list phone numbers endpoint to discover which phone numbers are available
      for sending messages.

      When creating chats, listing chats, or sending a voice memo, use one of your assigned phone numbers
      in the `from` field.
  - name: My Cards
    x-page-title: My Cards
    x-page-icon: address-card
    description: |
      My Cards let you set and share your contact information (name and profile photo) with chat participants via iMessage Name and Photo Sharing.

      Use `POST /v3/my_cards` to create or update a card for a phone number.
      Use `POST /v3/my_cards/{chatId}/share` to share the card into a specific chat.
      Use `GET /v3/my_cards` to retrieve the active card(s) for your partner account.
  - name: Capability Checks
    x-page-title: Capability Checks
    x-page-icon: signal-bars
    description: |
      Check whether a recipient address supports iMessage or RCS before sending a message.
  - name: Webhooks
    x-page-title: Webhooks
    x-page-icon: bell
    description: |
      Webhook Subscriptions allow you to receive real-time notifications when events
      occur on your account.

      Configure webhook endpoints to receive events such as messages sent/received,
      delivery status changes, reactions, typing indicators, and more.

      Failed deliveries (5xx, 429, network errors) are retried up to 10 times over
      ~2 hours with exponential backoff. Each event includes a unique ID for
      deduplication.

      ## Webhook Headers

      Each webhook request includes the following headers:

      | Header | Description |
      |--------|-------------|
      | `X-Webhook-Event` | The event type (e.g., `message.sent`, `message.received`) |
      | `X-Webhook-Subscription-ID` | Your webhook subscription ID |
      | `X-Webhook-Timestamp` | Unix timestamp (seconds) when the webhook was sent |
      | `X-Webhook-Signature` | HMAC-SHA256 signature for verification |

      ## Verifying Webhook Signatures

      All webhooks are signed using HMAC-SHA256. You should always verify the signature
      to ensure the webhook originated from Linq and hasn't been tampered with.

      **Signature Construction:**

      The signature is computed over a concatenation of the timestamp and payload:

      ```
      {timestamp}.{payload}
      ```

      Where:
      - `timestamp` is the value from the `X-Webhook-Timestamp` header
      - `payload` is the raw JSON request body (exact bytes, not re-serialized)

      **Verification Steps:**

      1. Extract the `X-Webhook-Timestamp` and `X-Webhook-Signature` headers
      2. Get the raw request body bytes (do not parse and re-serialize)
      3. Concatenate: `"{timestamp}.{payload}"`
      4. Compute HMAC-SHA256 using your signing secret as the key
      5. Hex-encode the result and compare with `X-Webhook-Signature`
      6. Use constant-time comparison to prevent timing attacks

      **Example (Python):**

      ```python
      import hmac
      import hashlib

      def verify_webhook(signing_secret, payload, timestamp, signature):
          message = f"{timestamp}.{payload.decode('utf-8')}"
          expected = hmac.new(
              signing_secret.encode('utf-8'),
              message.encode('utf-8'),
              hashlib.sha256
          ).hexdigest()
          return hmac.compare_digest(expected, signature)
      ```

      **Example (Node.js):**

      ```javascript
      const crypto = require('crypto');

      function verifyWebhook(signingSecret, payload, timestamp, signature) {
        const message = `${timestamp}.${payload}`;
        const expected = crypto
          .createHmac('sha256', signingSecret)
          .update(message)
          .digest('hex');
        return crypto.timingSafeEqual(
          Buffer.from(expected),
          Buffer.from(signature)
        );
      }
      ```

      **Security Best Practices:**

      - Reject webhooks with timestamps older than 5 minutes to prevent replay attacks
      - Always use constant-time comparison for signature verification
      - Store your signing secret securely (e.g., environment variable, secrets manager)
      - Return a 2xx status code quickly, then process the webhook asynchronously
  - name: Webhook Events
    x-page-title: Webhook Events
    x-page-icon: bolt
    description: |
      Webhook event definitions for the Linq API.

      These webhooks are delivered to your configured endpoint when events occur
      in your messaging infrastructure.

      ## Webhook Versioning

      Webhook payloads are versioned using dates. **We strongly recommend specifying a version**
      when creating webhook subscriptions by adding `?version=YYYY-MM-DD` to your target URL.

      ### Available Versions

      | Subscription Created | `webhook_version` |
      |---------------------|-------------------|
      | Before 2026-02-03 | `2025-01-01` |
      | 2026-02-03 or later | `2026-02-03` |

      ### How to Specify a Version

      Add `?version=YYYY-MM-DD` to your webhook subscription URL:

      ```
      https://your-server.com/webhook?version=2026-02-03
      ```

      If no version is specified, the subscription uses the latest available version at creation time.

      > **Warning:** If you delete and recreate a subscription without specifying a version,
      > you may receive a different payload format than before. Always check the `webhook_version`
      > in your current payloads before recreating subscriptions to ensure continuity.

      ### Differences Between Versions

      Only **message events** have different payload structures between versions:

      | Field | `2025-01-01` | `2026-02-03` |
      |-------|--------------|--------------|
      | Direction | `is_from_me: true/false` | `direction: "outbound"/"inbound"` |
      | Sender | `from_handle` | `sender_handle` |
      | Chat info | `chat_id`, `is_group` at top level | `chat` object with `id`, `is_group`, `owner_handle` |
      | Message fields | Nested in `message` object | Flat at top level (`id`, `parts`, `sent_at`, etc.) |

      All other events (reactions, participants, chat events, typing indicators) use the same format regardless of version.

      ## Webhook Headers

      All webhook requests include these headers:

      | Header | Description |
      |--------|-------------|
      | `X-Webhook-Signature` | HMAC-SHA256 signature (hex-encoded) |
      | `X-Webhook-Timestamp` | Unix timestamp (seconds) when the webhook was sent |
      | `X-Webhook-Event` | Event type (e.g., `message.received`) |
      | `X-Webhook-Subscription-ID` | Your webhook subscription ID |

      ## Signature Verification

      All webhooks are signed with HMAC-SHA256 using your webhook signing secret.

      **Important:** The signature is computed over `{timestamp}.{payload}`, not just the payload.

      ### Verification Steps

      1. Extract the `X-Webhook-Timestamp` and `X-Webhook-Signature` headers
      2. Get the **raw request body** (exact bytes, not parsed/re-serialized JSON)
      3. Compute: `HMAC-SHA256(secret, "{timestamp}.{raw_body}")`
      4. Compare your computed signature (hex-encoded) with `X-Webhook-Signature`

      ### JavaScript Example

      ```javascript
      const crypto = require('crypto');

      function verifyWebhookSignature(secret, rawBody, timestamp, signature) {
        const signedData = `${timestamp}.${rawBody}`;
        const expected = crypto.createHmac('sha256', secret).update(signedData).digest('hex');
        return crypto.timingSafeEqual(Buffer.from(expected, 'hex'), Buffer.from(signature, 'hex'));
      }

      // In your handler:
      const timestamp = req.headers['x-webhook-timestamp'];
      const signature = req.headers['x-webhook-signature'];
      const isValid = verifyWebhookSignature(secret, rawBody, timestamp, signature);
      ```

      ### Common Mistakes

      - **Missing timestamp:** Signing just the payload without prepending `{timestamp}.`
      - **Re-serialized JSON:** Using `JSON.stringify(parsedBody)` instead of the raw request body — this can change key order or whitespace, breaking the signature

      ## Delivery Guarantees & SLA

      | Guarantee | Value |
      |-----------|-------|
      | **Response timeout** | 10 seconds |
      | **Retry attempts** | 6 attempts per endpoint |
      | **Retry backoff** | Exponential: 2s, 4s, 8s, 16s, 30s |
      | **Total retry window** | ~60 seconds |
      | **Delivery model** | At-least-once (duplicates possible during retries) |

      ### Retry Behavior

      If your endpoint returns a non-2xx status code or times out, we will retry delivery with exponential backoff:

      - **Attempt 1:** Immediate
      - **Attempt 2:** After 2 seconds
      - **Attempt 3:** After 4 seconds
      - **Attempt 4:** After 8 seconds
      - **Attempt 5:** After 16 seconds
      - **Attempt 6:** After 30 seconds

      After 6 failed attempts (~60 seconds total), the webhook is dropped for that endpoint.

      **Important:** Retries are per-endpoint. If you have multiple webhook subscriptions, a failure on one endpoint does not affect delivery to your other endpoints.

      ### What Triggers a Retry?

      - HTTP 5xx responses (server errors)
      - HTTP 429 (rate limited)
      - Connection timeout (>10 seconds)
      - Connection refused / network errors

      **Not retried:** HTTP 4xx responses (except 429) are considered permanent failures and are not retried.

      ### Your Endpoint Should

      1. **Return `200` quickly** — respond within 10 seconds, process asynchronously if needed
      2. **Verify the HMAC signature** — reject requests with invalid signatures
      3. **Deduplicate using `event_id`** — the same event may arrive multiple times during retries
      4. **Be idempotent** — processing the same event twice should have no side effects
  - name: '2025-01-01'
    x-parent: Webhook Events
    description: |
      Webhook payload format for subscriptions created **before February 3, 2026**.

      This version uses `is_from_me` for direction and nests message fields under a `message` object.
  - name: '2026-02-03'
    x-parent: Webhook Events
    description: |
      Webhook payload format for subscriptions created **on or after February 3, 2026**.

      This version uses `direction: "inbound"/"outbound"` and places message fields at the top level of the `data` object.
paths:
  /v3/chats:
    post:
      operationId: createChat
      summary: Create a new chat
      description: |
        Create a new chat with specified participants and send an initial message.
        The initial message is required when creating a chat.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.
      tags:
        - Chats
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateChatRequest'
            examples:
              chatWithTextMessage:
                summary: Text-only message
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Hello! How can I help you today?
              chatWithMediaUrl:
                summary: Media via external URL (server downloads automatically)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Check out this image!
                      - type: media
                        url: https://images.dog.ceo/breeds/terrier-cairn/n02096177_13328.jpg
              chatWithPreuploadedMedia:
                summary: Media via pre-uploaded attachment (after POST /v3/attachments)
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: media
                        attachment_id: 550e8400-e29b-41d4-a716-446655440000
              chatWithConfettiEffect:
                summary: Message with confetti screen effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: Welcome aboard! 🎉
                    effect:
                      screen_effect: confetti
              chatWithInvisibleInk:
                summary: Message with invisible ink bubble effect
                value:
                  from: '+12052535597'
                  to:
                    - '+12052532136'
                  message:
                    parts:
                      - type: text
                        value: 'Here''s a secret code: ABC123'
                    effect:
                      bubble_effect: invisible
      responses:
        '201':
          description: Chat created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listChats
      summary: List all chats
      description: |
        Retrieves a paginated list of chats for the authenticated partner filtered by phone number.
        Returns all chats involving the specified phone number with their participants and recent activity.

        **Pagination:**
        - Use `limit` to control page size (default: 20, max: 100)
        - The response includes `next_cursor` for fetching the next page
        - When `next_cursor` is `null`, there are no more results to fetch
        - Pass the `next_cursor` value as the `cursor` parameter for the next request

        **Example pagination flow:**
        1. First request: `GET /v3/chats?from=%2B12223334444&limit=20`
        2. Response includes `next_cursor: "20"` (more results exist)
        3. Next request: `GET /v3/chats?from=%2B12223334444&limit=20&cursor=20`
        4. Response includes `next_cursor: null` (no more results)
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: from
          in: query
          required: true
          description: |
            Phone number to filter chats by. Returns all chats made from this phone number.
            Must be in E.164 format (e.g., `+13343284472`). The `+` is automatically URL-encoded by HTTP clients.
          schema:
            type: string
            pattern: ^\+?[1-9]\d{1,14}$
            example: '+13343284472'
        - name: limit
          in: query
          required: false
          description: Maximum number of chats to return per page
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 20
            example: 20
        - name: cursor
          in: query
          required: false
          description: |
            Pagination cursor from the previous response's `next_cursor` field.
            Omit this parameter for the first page of results.
          schema:
            type: string
            example: '20'
      responses:
        '200':
          description: List of chats retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListChatsResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}:
    get:
      operationId: getChat
      summary: Get a chat by ID
      description: Retrieve a chat by its unique identifier.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '200':
          description: Chat found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateChat
      summary: Update a chat
      description: |
        Update chat properties such as display name and group chat icon.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateChatRequest'
            examples:
              updateName:
                summary: Update chat display name
                value:
                  display_name: Team Discussion
              updateIcon:
                summary: Update group chat icon
                value:
                  group_chat_icon: https://example.com/group-icon.png
              updateBoth:
                summary: Update both display name and icon
                value:
                  display_name: Team Discussion
                  group_chat_icon: https://example.com/group-icon.png
      responses:
        '200':
          description: Chat updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Chat'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/participants:
    post:
      operationId: addParticipant
      summary: Add a participant to a chat
      description: |
        Add a new participant to an existing group chat.

        **Requirements:**
        - Group chats only (3+ existing participants)
        - New participant must support the same messaging service as the group
        - Cross-service additions not allowed (e.g., can't add RCS-only user to iMessage group)
        - For cross-service scenarios, create a new chat instead
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddParticipantRequest'
            examples:
              addUser:
                summary: Add a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant addition queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant addition queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: removeParticipant
      summary: Remove a participant from a chat
      description: |
        Remove a participant from an existing group chat.

        **Requirements:**
        - Group chats only
        - Must have 3+ participants after removal
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RemoveParticipantRequest'
            examples:
              removeUser:
                summary: Remove a participant
                value:
                  handle: '+12052499136'
      responses:
        '202':
          description: Participant removal queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Participant removal queued
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/typing:
    post:
      operationId: startTyping
      summary: Start typing indicator
      description: |
        Send a typing indicator to show that someone is typing in the chat.

        **Note:** Group chat typing indicators are not currently supported.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Typing indicator started successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: stopTyping
      summary: Stop typing indicator
      description: |
        Stop the typing indicator for the chat.

        **Note:** Typing indicators are automatically stopped when a message is sent,
        so calling this endpoint after sending a message is unnecessary.

        **Note:** Group chat typing indicators are not currently supported.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      responses:
        '204':
          description: Typing indicator stopped successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/read:
    post:
      operationId: markChatAsRead
      summary: Mark chat as read
      description: |
        Mark all messages in a chat as read.
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Chat marked as read successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/share_contact_card:
    post:
      operationId: shareContactWithChat
      summary: Share your contact card with a chat
      deprecated: true
      description: |
        **Deprecated:** Use `POST /v3/my_cards/{chatId}/share` instead.

        Share your contact information (Name and Photo Sharing) with a chat.

        **Note:** A contact card must be configured before sharing. You can set up your contact card on the [Linq dashboard](https://dashboard.linqapp.com/contact-cards).
      tags:
        - Chats
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Contact shared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/messages:
    post:
      operationId: sendMessageToChat
      summary: Send a message to an existing chat
      description: |
        Send a message to an existing chat. Use this endpoint when you already have
        a chat ID and want to send additional messages to it.

        ## Message Effects

        You can add iMessage effects to make your messages more expressive. Effects are
        optional and can be either screen effects (full-screen animations) or bubble effects
        (message bubble animations).

        **Screen Effects:** `confetti`, `fireworks`, `lasers`, `sparkles`, `celebration`,
        `hearts`, `love`, `balloons`, `happy_birthday`, `echo`, `spotlight`

        **Bubble Effects:** `slam`, `loud`, `gentle`, `invisible`

        Only one effect type can be applied per message.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendMessageToChatRequest'
            examples:
              simple_text:
                summary: Simple text message
                value:
                  message:
                    parts:
                      - type: text
                        value: Hello, world!
              with_confetti:
                summary: Message with confetti effect
                value:
                  message:
                    parts:
                      - type: text
                        value: Congratulations! 🎉
                    effect:
                      screen_effect: confetti
              with_slam:
                summary: Message with slam bubble effect
                value:
                  message:
                    parts:
                      - type: text
                        value: BOOM!
                    effect:
                      bubble_effect: slam
              with_invisible_ink:
                summary: Message with invisible ink effect
                value:
                  message:
                    parts:
                      - type: text
                        value: This is a secret message
                    effect:
                      bubble_effect: invisible
      responses:
        '202':
          description: Message accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendMessageResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: getMessages
      summary: Get messages from a chat
      description: |
        Retrieve messages from a specific chat with pagination support.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: 550e8400-e29b-41d4-a716-446655440000
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
      responses:
        '200':
          description: Messages retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMessagesResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/thread:
    get:
      operationId: getMessageThread
      summary: Get all messages in a thread
      description: |
        Retrieve all messages in a conversation thread. Given any message ID in the thread,
        returns the originator message and all replies in chronological order.

        If the message is not part of a thread, returns just that single message.

        Supports pagination and configurable ordering.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: ID of any message in the thread (can be originator or any reply)
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
        - name: cursor
          in: query
          description: Pagination cursor from previous next_cursor response
          schema:
            type: string
        - name: limit
          in: query
          description: Maximum number of messages to return
          schema:
            type: integer
            minimum: 1
            maximum: 100
            default: 50
        - name: order
          in: query
          description: Sort order for messages (asc = oldest first, desc = newest first)
          schema:
            type: string
            enum:
              - asc
              - desc
            default: asc
      responses:
        '200':
          description: Thread retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetThreadResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/chats/{chatId}/voicememo:
    post:
      operationId: sendVoiceMemoToChat
      summary: Send a voice memo to a chat
      description: |
        Send an audio file as an **iMessage voice memo bubble** to all participants in a chat.
        Voice memos appear with iMessage's native inline playback UI, unlike regular audio
        attachments sent via media parts which appear as downloadable files.

        **Supported audio formats:**
        - MP3 (audio/mpeg)
        - M4A (audio/x-m4a, audio/mp4)
        - AAC (audio/aac)
        - CAF (audio/x-caf) - Core Audio Format
        - WAV (audio/wav)
        - AIFF (audio/aiff, audio/x-aiff)
        - AMR (audio/amr)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
            example: f19ee7b8-8533-4c5c-83ec-4ef8d6d1ddbd
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendVoiceMemoToChatRequest'
            example:
              voice_memo_url: https://example.com/voice-memo.m4a
      responses:
        '202':
          description: Voice memo accepted for delivery
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SendVoiceMemoToChatResult'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '413':
          description: Voice memo file too large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                error:
                  status: 413
                  code: 5001
                  message: Voice memo file too large - maximum size is 10MB
                success: false
        '422':
          $ref: '#/components/responses/UnprocessableEntity'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}:
    get:
      operationId: getMessage
      summary: Get a message by ID
      description: |
        Retrieve a specific message by its ID. This endpoint returns the full message
        details including text, attachments, reactions, and metadata.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to retrieve
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      responses:
        '200':
          description: Message found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    patch:
      operationId: editMessage
      summary: Edit the content of a message part
      description: Edit the text content of a specific part of a previously sent message.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to edit
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/EditMessageRequest'
            examples:
              editMessage:
                summary: Edit the first part of a message
                value:
                  part_index: 0
                  text: This is the edited message content
      responses:
        '200':
          description: Message updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Message'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteMessage
      summary: Delete a message from system
      description: |
        Deletes a message from the Linq API only. This does NOT unsend or remove the message
        from the actual chat - recipients will still see the message.

        Use this endpoint to remove messages from your records and prevent them from appearing
        in API responses.
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to delete
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/DeleteMessageRequest'
            examples:
              deleteMessage:
                summary: Delete a message
                value:
                  chat_id: 94c6bf33-31d9-40e3-a0e9-f94250ecedb9
      responses:
        '204':
          description: Message deleted successfully (no content returned)
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/messages/{messageId}/reactions:
    post:
      operationId: sendReaction
      summary: Add or remove a reaction to a message
      description: |
        Add or remove emoji reactions to messages. Reactions let users express
        their response to a message without sending a new message.

        **Supported Reactions:**
        - love ❤️
        - like 👍
        - dislike 👎
        - laugh 😂
        - emphasize ‼️
        - question ❓
        - custom - any emoji (use `custom_emoji` field to specify)
      tags:
        - Messages
      security:
        - BearerAuth: []
      parameters:
        - name: messageId
          in: path
          required: true
          description: Unique identifier of the message to react to
          schema:
            type: string
            format: uuid
            example: 69a37c7d-af4f-4b5e-af42-e28e98ce873a
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SendReactionRequest'
            examples:
              addLove:
                summary: Add a love reaction
                value:
                  operation: add
                  type: love
              removeLike:
                summary: Remove a like reaction
                value:
                  operation: remove
                  type: like
              reactToMessagePart:
                summary: React to a specific message part
                value:
                  operation: add
                  type: laugh
                  part_index: 1
      responses:
        '202':
          description: Reaction queued successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: accepted
                  trace_id:
                    type: string
                  message:
                    type: string
                    example: Reaction processed
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/attachments:
    post:
      operationId: requestUpload
      summary: Pre-upload a file
      description: |
        **This endpoint is optional.** You can send media by simply providing a URL in your
        message's media part — no pre-upload required. Use this endpoint only when you want
        to upload a file ahead of time for reuse or latency optimization.

        Returns a presigned upload URL and a permanent `attachment_id` you can reference
        in future messages.

        ## Step 1: Request an upload URL

        Call this endpoint with file metadata:

        ```json
        POST /v3/attachments
        {
          "filename": "photo.jpg",
          "content_type": "image/jpeg",
          "size_bytes": 1024000
        }
        ```

        The response includes an `upload_url` (valid for 15 minutes) and a permanent `attachment_id`.

        ## Step 2: Upload the file

        Make a PUT request to the `upload_url` with the raw file bytes as the request body.. Include the headers from `required_headers`.
        The request body is the binary file content — **not** JSON, **not** multipart form data.

        ```bash
        curl -X PUT "<upload_url from step 1>" \
          -H "Content-Type: image/jpeg" \
          --data-binary @filebytes
        ```

        ## Step 3: Send a message with the attachment

        Reference the `attachment_id` in a media part. The ID never expires — use it in as many messages as you want.

        ```json
        POST /v3/messages
        {
          "to": ["+15551234567"],
          "from": "+15559876543",
          "parts": [
            { "type": "media", "attachment_id": "<attachment_id from step 1>" }
          ]
        }
        ```

        ## When to use this instead of a URL in the media part

        - Sending the same file to multiple recipients (avoids re-downloading each time)
        - Large files where you want to separate upload from message send
        - Latency-sensitive sends where the file should already be stored

        If you just need to send a file once, skip all of this and pass a `url` directly in the media part instead.

        **File Size Limit:** 100MB

        **Unsupported Types:** WebP, SVG, FLAC, OGG, and executable files are explicitly rejected.
      tags:
        - Attachments
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestUploadRequest'
            examples:
              imageUpload:
                summary: Request upload for an image
                value:
                  filename: photo.jpg
                  content_type: image/jpeg
                  size_bytes: 1024000
              videoUpload:
                summary: Request upload for a video
                value:
                  filename: video.mp4
                  content_type: video/mp4
                  size_bytes: 50000000
      responses:
        '200':
          description: Upload URL generated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/RequestUploadResult'
              examples:
                presignedUrlResponse:
                  summary: Presigned upload URL ready
                  value:
                    attachment_id: 550e8400-e29b-41d4-a716-446655440000
                    upload_url: https://uploads.linqapp.com/attachments/550e8400?X-Amz-Algorithm=AWS4-HMAC-SHA256&...
                    download_url: https://cdn.linqapp.com/uploads/partner-id/550e8400/photo.jpg
                    http_method: PUT
                    expires_at: '2024-01-15T10:45:00Z'
                    required_headers:
                      Content-Type: image/jpeg
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/attachments/{attachmentId}:
    get:
      operationId: getAttachment
      summary: Get attachment metadata
      description: |
        Retrieve metadata for a specific attachment including its status,
        file information, and URLs for downloading.
      tags:
        - Attachments
      security:
        - BearerAuth: []
      parameters:
        - name: attachmentId
          in: path
          required: true
          description: Unique identifier of the attachment
          schema:
            type: string
            format: uuid
            example: abc12345-1234-5678-9abc-def012345678
      responses:
        '200':
          description: Attachment found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Attachment'
              example:
                id: 550e8400-e29b-41d4-a716-446655440000
                filename: photo.jpg
                content_type: image/jpeg
                size_bytes: 1024000
                status: complete
                download_url: https://cdn.linqapp.com/attachments/550e8400-e29b-41d4-a716-446655440000/photo.jpg
                created_at: '2024-01-15T10:30:00Z'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/phonenumbers:
    get:
      operationId: listPhoneNumbersDeprecated
      summary: List phone numbers (deprecated)
      deprecated: true
      description: |
        **Deprecated.** Use `GET /v3/phone_numbers` instead.
      tags:
        - Phone Numbers
      security:
        - BearerAuth: []
      x-internal: true
      responses:
        '200':
          description: Phone numbers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhoneNumbersResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/phone_numbers:
    get:
      operationId: listPhoneNumbers
      summary: List phone numbers
      description: |
        Returns all phone numbers assigned to the authenticated partner.
        Use this endpoint to discover which phone numbers are available for
        use as the `from` field when creating a chat, listing chats, or sending a voice memo.
      tags:
        - Phone Numbers
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Phone numbers retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListPhoneNumbersResultV2'
              example:
                phone_numbers:
                  - id: 550e8400-e29b-41d4-a716-446655440000
                    phone_number: '+12025551234'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-events:
    get:
      operationId: listWebhookEvents
      summary: List available webhook event types
      description: |
        Returns all available webhook event types that can be subscribed to.
        Use this endpoint to discover valid values for the `subscribed_events`
        field when creating or updating webhook subscriptions.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of available webhook event types
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookEventsResult'
              example:
                events:
                  - message.sent
                  - message.received
                  - message.read
                  - message.delivered
                  - message.failed
                  - reaction.added
                  - reaction.removed
                  - participant.added
                  - participant.removed
                  - chat.created
                  - chat.group_name_updated
                  - chat.group_icon_updated
                  - chat.group_name_update_failed
                  - chat.group_icon_update_failed
                  - chat.typing_indicator.started
                  - chat.typing_indicator.stopped
                doc_url: https://apidocs.linqapp.com/documentation/webhook-events
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-subscriptions:
    post:
      operationId: createWebhookSubscription
      summary: Create a new webhook subscription
      description: |
        Create a new webhook subscription to receive events at a target URL.
        Upon creation, a signing secret is generated for verifying webhook
        authenticity. **Store this secret securely — it cannot be retrieved later.**

        **Webhook Delivery:**
        - Events are sent via HTTP POST to the target URL
        - Each request includes `X-Webhook-Signature` and `X-Webhook-Timestamp` headers
        - Signature is HMAC-SHA256 over `{timestamp}.{payload}` — see [Webhook Events](/docs/webhook-events) for verification details
        - Failed deliveries (5xx, 429, network errors) are retried up to 10 times over ~2 hours with exponential backoff
        - Client errors (4xx except 429) are not retried
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateWebhookSubscriptionRequest'
            examples:
              messageEvents:
                summary: Subscribe to message events
                value:
                  target_url: https://webhooks.example.com/linq/events
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
              messageEventsWithVersion:
                summary: Subscribe with explicit webhook version
                value:
                  target_url: https://webhooks.example.com/linq/events?version=2026-02-03
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
              allEvents:
                summary: Subscribe to all events
                value:
                  target_url: https://webhooks.example.com/linq/events
                  subscribed_events:
                    - message.sent
                    - message.delivered
                    - message.read
                    - message.failed
                    - message.received
                    - reaction.added
                    - reaction.removed
                    - participant.added
                    - participant.removed
      responses:
        '201':
          description: Webhook subscription created successfully. The signing_secret is only returned in this response - store it securely.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionCreatedResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
    get:
      operationId: listWebhookSubscriptions
      summary: List all webhook subscriptions
      description: |
        Retrieve all webhook subscriptions for the authenticated partner.
        Returns a list of active and inactive subscriptions with their
        configuration and status.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      responses:
        '200':
          description: List of webhook subscriptions retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ListWebhookSubscriptionsResult'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/webhook-subscriptions/{subscriptionId}:
    get:
      operationId: getWebhookSubscription
      summary: Get a webhook subscription by ID
      description: |
        Retrieve details for a specific webhook subscription including its
        target URL, subscribed events, and current status.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      responses:
        '200':
          description: Webhook subscription found and returned successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    put:
      operationId: updateWebhookSubscription
      summary: Update a webhook subscription
      description: |
        Update an existing webhook subscription. You can modify the target URL,
        subscribed events, or activate/deactivate the subscription.

        **Note:** The signing secret cannot be changed via this endpoint.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateWebhookSubscriptionRequest'
            examples:
              updateURL:
                summary: Update target URL
                value:
                  target_url: https://webhooks.example.com/linq/events
              updateEvents:
                summary: Update subscribed events
                value:
                  subscribed_events:
                    - message.sent
                    - message.delivered
              deactivate:
                summary: Deactivate subscription
                value:
                  is_active: false
      responses:
        '200':
          description: Webhook subscription updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WebhookSubscriptionResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
    delete:
      operationId: deleteWebhookSubscription
      summary: Delete a webhook subscription
      description: Delete a webhook subscription.
      tags:
        - Webhooks
      security:
        - BearerAuth: []
      parameters:
        - name: subscriptionId
          in: path
          required: true
          description: Unique identifier of the webhook subscription
          schema:
            type: string
            example: b2c3d4e5-f6a7-8901-bcde-f23456789012
      responses:
        '204':
          description: Webhook subscription deleted successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/capability/check_imessage:
    post:
      operationId: checkImessageCapability
      summary: Check iMessage capability
      description: |
        Check whether a recipient address (phone number or email) is reachable via iMessage.
      tags:
        - Capability Checks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandleCheckRequest'
            example:
              address: '+15551234567'
      responses:
        '200':
          description: iMessage capability check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleCheckResponse'
              example:
                address: '+15551234567'
                available: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/capability/check_rcs:
    post:
      operationId: checkRcsCapability
      summary: Check RCS capability
      description: |
        Check whether a recipient address (phone number) supports RCS messaging.
      tags:
        - Capability Checks
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/HandleCheckRequest'
            example:
              address: '+15551234567'
      responses:
        '200':
          description: RCS capability check completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HandleCheckResponse'
              example:
                address: '+15551234567'
                available: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimited'
        '500':
          $ref: '#/components/responses/InternalServerError'
        '503':
          $ref: '#/components/responses/ServiceUnavailable'
  /v3/my_cards/{chatId}/share:
    post:
      operationId: shareMyCard
      summary: Share my card with a chat
      description: |
        Share your contact information (Name and Photo Sharing) with a chat.

        **Note:** A my card must be configured before sharing.
      tags:
        - My Cards
      security:
        - BearerAuth: []
      parameters:
        - name: chatId
          in: path
          required: true
          description: Unique identifier of the chat
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: My card shared successfully
        '401':
          $ref: '#/components/responses/Unauthorized'
        '404':
          $ref: '#/components/responses/NotFound'
        '500':
          $ref: '#/components/responses/InternalServerError'
  /v3/my_cards:
    get:
      operationId: getMyCards
      summary: Get my cards
      description: |
        Returns the my card for a specific phone number, or all my cards for the
        authenticated partner if no `phone_number` is provided.
      tags:
        - My Cards
      security:
        - BearerAuth: []
      parameters:
        - name: phone_number
          in: query
          required: false
          description: E.164 phone number to filter by. If omitted, all my cards for the partner are returned.
          schema:
            type: string
            example: '+15551234567'
      responses:
        '200':
          description: My card(s) returned
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetMyCardResponse'
              example:
                my_cards:
                  - phone_number: '+15551234567'
                    first_name: John
                    last_name: Doe
                    image_url: https://cdn.linqapp.com/my-card/example.jpg
                    is_active: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
    post:
      operationId: setupMyCard
      summary: Setup my card
      description: |
        Creates or updates a my card for a phone number and syncs it to the device.

        The my card is stored in an inactive state first. Once it's applied successfully,
        it is activated and `is_active` is returned as `true`. On failure, `is_active` is `false`.
      tags:
        - My Cards
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SetMyCardRequest'
            example:
              phone_number: '+15551234567'
              first_name: John
              last_name: Doe
              image_url: https://cdn.linqapp.com/my-card/example.jpg
      responses:
        '200':
          description: My card created/updated and sync attempted
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SetMyCardResponse'
              example:
                phone_number: '+15551234567'
                first_name: John
                last_name: Doe
                image_url: https://cdn.linqapp.com/my-card/example.jpg
                is_active: true
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '500':
          $ref: '#/components/responses/InternalServerError'
webhooks:
  message.sent.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookMessageSentV2026
      summary: Message sent
      description: |
        Triggered when a message has been successfully sent from your phone number.
        This confirms the message has been sent, but potentially has not yet been delivered.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSentWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.sent
              event_id: e20feb41-7f67-43f0-89c8-a985cff3b568
              created_at: '2026-02-05T19:52:18.101373886Z'
              trace_id: 2eff5df5c6f688733c007523c4d61cd9
              partner_id: your-partner-id
              data:
                chat:
                  id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 8d79532a-f529-4244-a5cf-d443de051434
                    is_me: true
                    joined_at: '2026-01-21T21:59:45.191571Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 347d62c2-2170-4754-8d30-c76d0c727d96
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello from Linq!
                  - filename: photo.jpg
                    id: f13dda7d-ecac-49eb-b3fe-16fe286abf19
                    mime_type: image/jpeg
                    size_bytes: 245678
                    type: media
                    url: https://cdn.linqapp.com/attachments/a1b2c3d4/photo.jpg?signature=...
                effect: null
                sent_at: '2026-02-05T19:52:17.219Z'
                delivered_at: null
                read_at: null
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.received.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookMessageReceivedV2026
      summary: Message received
      description: |
        Triggered when an incoming message is received on your phone number.
        Contains the full message content including any attachments.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReceivedWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.received
              event_id: 2915e81c-5068-4796-ace2-21d2c94ad298
              created_at: '2026-02-05T19:31:13.736444093Z'
              trace_id: 8af9171a45022df2eb74ba4e4c83be0f
              partner_id: your-partner-id
              data:
                chat:
                  id: 8f392755-6865-4b18-880a-227f9d8b458f
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 6d6c617f-187a-4dcd-a0d5-988347a8c092
                    is_me: true
                    joined_at: '2026-01-04T05:48:51.321469Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 89e3566e-1d13-49e5-a8ee-48490d5bfeb7
                direction: inbound
                sender_handle:
                  handle: '+12025559876'
                  id: e604375a-5913-483a-8278-c631e8f0ffda
                  is_me: false
                  joined_at: '2026-01-04T05:48:51.321469Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello!
                effect: null
                reply_to: null
                sent_at: '2026-02-05T19:31:13.074Z'
                delivered_at: null
                read_at: null
                service: iMessage
      responses:
        '200':
          description: Webhook received successfully
  message.read.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookMessageReadV2026
      summary: Message read
      description: |
        Triggered when a sent message has been read by the recipient.
        Only available for iMessage conversations with read receipts enabled.

        **Timestamps:** `sent_at`, `delivered_at`, and `read_at` are all set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReadWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.read
              event_id: 8fd42065-b998-482a-93b3-da855f8dad17
              created_at: '2026-02-05T19:13:58.833366566Z'
              trace_id: cbb93c08fa1a3f3c4c2efc161d67f36d
              partner_id: your-partner-id
              data:
                chat:
                  id: 24e33345-e6cf-4f50-9d35-1d7fde8c9818
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: d31678e9-0442-48fd-b7ed-c898d245dd15
                    is_me: true
                    joined_at: '2026-01-18T03:38:41.442254Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: dc6d3f68-90df-48f0-a504-e65f239a383c
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: d31678e9-0442-48fd-b7ed-c898d245dd15
                  is_me: true
                  joined_at: '2026-01-18T03:38:41.442254Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello world!
                effect: null
                sent_at: '2026-02-05T19:13:57.814Z'
                delivered_at: '2026-02-05T19:13:57.948Z'
                read_at: '2026-02-05T19:13:58.177Z'
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.delivered.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookMessageDeliveredV2026
      summary: Message delivered
      description: |
        Triggered when a sent message has been delivered to the recipient's device.
        This confirms the message reached the recipient, but does not indicate it was read.
        Only available for iMessage conversations with delivery receipts.

        **Timestamps:** `sent_at` and `delivered_at` are set, `read_at` is null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageDeliveredWebhookV2'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: message.delivered
              event_id: 67c4ad39-e9b0-47f6-82f8-64bdd8ceafa6
              created_at: '2026-02-05T19:52:22.593689073Z'
              trace_id: abde7f6248fba00f97e8c7dc4782d7e0
              partner_id: your-partner-id
              data:
                chat:
                  id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                  is_group: false
                  owner_handle:
                    handle: '+12025551234'
                    id: 8d79532a-f529-4244-a5cf-d443de051434
                    is_me: true
                    joined_at: '2026-01-21T21:59:45.191571Z'
                    left_at: null
                    service: iMessage
                    status: active
                id: 347d62c2-2170-4754-8d30-c76d0c727d96
                idempotency_key: null
                direction: outbound
                sender_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                parts:
                  - type: text
                    value: Hello world!
                  - filename: photo.gif
                    id: b9ed828d-dbac-431f-889a-23f276384389
                    mime_type: image/gif
                    size_bytes: 2776819
                    type: media
                    url: https://cdn.linqapp.com/attachments/b9ed828d/photo.gif?signature=...
                effect: null
                sent_at: '2026-02-05T19:52:17.219Z'
                delivered_at: '2026-02-05T19:52:22.291Z'
                read_at: null
                service: iMessage
                preferred_service: null
      responses:
        '200':
          description: Webhook received successfully
  message.failed.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookMessageFailedV2026
      summary: Message delivery failed
      description: |
        Triggered when a message fails to be delivered. This can happen due to:
        - Request timeout (message expired before being processed)
        - Upstream service error (processing failed after retries)
        - Request cancelled (message was explicitly cancelled)
        - Service unavailable (no service available to process the request)

        Note: The original message content may not be available if the message
        expired before being consumed by a processor.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  reaction.added.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookReactionAddedV2026
      summary: Reaction added
      description: |
        Triggered when a reaction (tapback) is added to a message.
        Includes standard reactions like "loved", "liked", "disliked", etc.
        and custom emoji reactions.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionAddedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  reaction.removed.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookReactionRemovedV2026
      summary: Reaction removed
      description: |
        Triggered when a reaction (tapback) is removed from a message.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReactionRemovedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  participant.added.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookParticipantAddedV2026
      summary: Participant added
      description: |
        Triggered when a new participant is added to a group chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantAddedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  participant.removed.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookParticipantRemovedV2026
      summary: Participant removed
      description: |
        Triggered when a participant is removed from a group chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ParticipantRemovedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_name_updated.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatGroupNameUpdatedV2026
      summary: Group name updated
      description: |
        Triggered when a group chat's display name is updated.
        A null `new_value` indicates the name was removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupNameUpdatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_icon_updated.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatGroupIconUpdatedV2026
      summary: Group icon updated
      description: |
        Triggered when a group chat's icon is updated.
        A null `new_value` indicates the icon was removed.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupIconUpdatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_name_update_failed.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatGroupNameUpdateFailedV2026
      summary: Group name update failed
      description: Triggered when a group chat name update request fails.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupNameUpdateFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.group_icon_update_failed.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatGroupIconUpdateFailedV2026
      summary: Group icon update failed
      description: Triggered when a group chat icon update request fails.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatGroupIconUpdateFailedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.created.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatCreatedV2026
      summary: Chat created
      description: Triggered when a new chat is created.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatCreatedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.typing_indicator.started.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatTypingIndicatorStartedV2026
      summary: Typing indicator started
      description: Triggered when a participant starts typing in a chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatTypingIndicatorStartedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  chat.typing_indicator.stopped.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookChatTypingIndicatorStoppedV2026
      summary: Typing indicator stopped
      description: Triggered when a participant stops typing in a chat.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatTypingIndicatorStoppedWebhook'
      responses:
        '200':
          description: Webhook received successfully
  phone_number.status_updated.v2026:
    post:
      tags:
        - '2026-02-03'
      operationId: webhookPhoneNumberStatusUpdatedV2026
      summary: Phone number status updated
      description: |
        Triggered when a phone number's service status changes from active to flagged or vice versa.
        Use this to monitor phone number health and availability.

        **Status values:**
        - `ACTIVE` — Phone number is healthy and can send/receive messages
        - `FLAGGED` — Phone number has been flagged and may have limited functionality
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PhoneNumberStatusUpdatedWebhook'
            example:
              api_version: v3
              webhook_version: '2026-02-03'
              event_type: phone_number.status_updated
              event_id: a1b2c3d4-e5f6-7890-abcd-ef1234567890
              created_at: '2026-02-18T18:35:05.363Z'
              trace_id: b66e67c5c6b2c20e41d53c51698db27a
              partner_id: your-partner-id
              data:
                phone_number: '+12025551234'
                previous_status: ACTIVE
                new_status: FLAGGED
                changed_at: '2026-02-18T18:35:05.000Z'
      responses:
        '200':
          description: Webhook received successfully
  message.sent.v2025:
    post:
      tags:
        - '2025-01-01'
      operationId: webhookMessageSentV2025
      summary: Message sent
      description: |
        Triggered when a message has been successfully sent from your phone number.
        This confirms the message has been sent, but potentially has not yet been delivered.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageSentWebhook'
            example:
              api_version: v3
              webhook_version: '2025-01-01'
              event_type: message.sent
              event_id: e20feb41-7f67-43f0-89c8-a985cff3b568
              created_at: '2026-02-05T19:52:18.101373886Z'
              trace_id: 2eff5df5c6f688733c007523c4d61cd9
              partner_id: your-partner-id
              data:
                chat_id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                from: '+12025551234'
                from_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                idempotency_key: null
                is_from_me: true
                is_group: false
                message:
                  created_at: '2026-02-05T19:52:17.041183Z'
                  delivered_at: null
                  id: 347d62c2-2170-4754-8d30-c76d0c727d96
                  is_delivered: false
                  is_read: false
                  parts:
                    - type: text
                      value: Hello from Linq!
                    - filename: photo.gif
                      id: f13dda7d-ecac-49eb-b3fe-16fe286abf19
                      mime_type: image/gif
                      size_bytes: 2776819
                      type: media
                      url: https://cdn.linqapp.com/attachments/example/photo.gif
                  read_at: null
                  sent_at: '2026-02-05T19:52:17.219Z'
                  updated_at: '2026-02-05T19:52:18.084038Z'
                preferred_service: null
                received_at: null
                recipient_handle: null
                recipient_phone: null
                service: iMessage
      responses:
        '200':
          description: Webhook received successfully
  message.received.v2025:
    post:
      tags:
        - '2025-01-01'
      operationId: webhookMessageReceivedV2025
      summary: Message received
      description: |
        Triggered when an incoming message is received on your phone number.
        Contains the full message content including any attachments.

        **Timestamps:** `sent_at` is set, `delivered_at` and `read_at` are null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReceivedWebhook'
            example:
              api_version: v3
              webhook_version: '2025-01-01'
              event_type: message.received
              event_id: 2915e81c-5068-4796-ace2-21d2c94ad298
              created_at: '2026-02-05T19:31:13.736444093Z'
              trace_id: 8af9171a45022df2eb74ba4e4c83be0f
              partner_id: your-partner-id
              data:
                chat_id: 8f392755-6865-4b18-880a-227f9d8b458f
                from: '+12025559876'
                from_handle:
                  handle: '+12025559876'
                  id: e604375a-5913-483a-8278-c631e8f0ffda
                  is_me: false
                  joined_at: '2026-01-04T05:48:51.321469Z'
                  left_at: null
                  service: iMessage
                  status: active
                idempotency_key: null
                is_from_me: false
                is_group: false
                message:
                  created_at: '2026-02-05T19:31:12.892Z'
                  delivered_at: null
                  id: 89e3566e-1d13-49e5-a8ee-48490d5bfeb7
                  is_delivered: false
                  is_read: false
                  parts:
                    - type: text
                      value: Hello!
                  read_at: null
                  sent_at: '2026-02-05T19:31:13.074Z'
                  updated_at: '2026-02-05T19:31:13.712Z'
                preferred_service: null
                received_at: '2026-02-05T19:31:13.074Z'
                recipient_handle:
                  handle: '+12025551234'
                  id: 6d6c617f-187a-4dcd-a0d5-988347a8c092
                  is_me: true
                  joined_at: '2026-01-04T05:48:51.321469Z'
                  left_at: null
                  service: iMessage
                  status: active
                recipient_phone: null
                service: iMessage
      responses:
        '200':
          description: Webhook received successfully
  message.read.v2025:
    post:
      tags:
        - '2025-01-01'
      operationId: webhookMessageReadV2025
      summary: Message read
      description: |
        Triggered when a sent message has been read by the recipient.
        Only available for iMessage conversations with read receipts enabled.

        **Timestamps:** `sent_at`, `delivered_at`, and `read_at` are all set.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageReadWebhook'
            example:
              api_version: v3
              webhook_version: '2025-01-01'
              event_type: message.read
              event_id: 8fd42065-b998-482a-93b3-da855f8dad17
              created_at: '2026-02-05T19:13:58.833366566Z'
              trace_id: cbb93c08fa1a3f3c4c2efc161d67f36d
              partner_id: your-partner-id
              data:
                chat_id: 24e33345-e6cf-4f50-9d35-1d7fde8c9818
                from: '+12025551234'
                from_handle:
                  handle: '+12025551234'
                  id: d31678e9-0442-48fd-b7ed-c898d245dd15
                  is_me: true
                  joined_at: '2026-01-18T03:38:41.442254Z'
                  left_at: null
                  service: iMessage
                  status: active
                idempotency_key: null
                is_from_me: true
                is_group: false
                message:
                  created_at: '2026-02-05T19:13:57.612Z'
                  delivered_at: '2026-02-05T19:13:57.948Z'
                  id: dc6d3f68-90df-48f0-a504-e65f239a383c
                  is_delivered: true
                  is_read: true
                  parts:
                    - type: text
                      value: Hello world!
                  read_at: '2026-02-05T19:13:58.177Z'
                  sent_at: '2026-02-05T19:13:57.814Z'
                  updated_at: '2026-02-05T19:13:58.811Z'
                preferred_service: null
                received_at: null
                recipient_handle: null
                recipient_phone: null
                service: iMessage
      responses:
        '200':
          description: Webhook received successfully
  message.delivered.v2025:
    post:
      tags:
        - '2025-01-01'
      operationId: webhookMessageDeliveredV2025
      summary: Message delivered
      description: |
        Triggered when a sent message has been delivered to the recipient's device.
        This confirms the message reached the recipient, but does not indicate it was read.
        Only available for iMessage conversations with delivery receipts.

        **Timestamps:** `sent_at` and `delivered_at` are set, `read_at` is null.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MessageDeliveredWebhook'
            example:
              api_version: v3
              webhook_version: '2025-01-01'
              event_type: message.delivered
              event_id: 67c4ad39-e9b0-47f6-82f8-64bdd8ceafa6
              created_at: '2026-02-05T19:52:22.593689073Z'
              trace_id: abde7f6248fba00f97e8c7dc4782d7e0
              partner_id: your-partner-id
              data:
                chat_id: 0c961e93-e7bf-4db2-bf7b-ea06826bcab4
                from: '+12025551234'
                from_handle:
                  handle: '+12025551234'
                  id: 8d79532a-f529-4244-a5cf-d443de051434
                  is_me: true
                  joined_at: '2026-01-21T21:59:45.191571Z'
                  left_at: null
                  service: iMessage
                  status: active
                idempotency_key: null
                is_from_me: true
                is_group: false
                message:
                  created_at: '2026-02-05T19:52:17.041183Z'
                  delivered_at: '2026-02-05T19:52:22.291Z'
                  id: 347d62c2-2170-4754-8d30-c76d0c727d96
                  is_delivered: true
                  is_read: false
                  parts:
                    - type: text
                      value: Hello world!
                    - filename: photo.gif
                      id: b9ed828d-dbac-431f-889a-23f276384389
                      mime_type: image/gif
                      size_bytes: 2776819
                      type: media
                      url: https://cdn.linqapp.com/attachments/example/photo.gif
                  read_at: null
                  sent_at: '2026-02-05T19:52:17.219Z'
                  updated_at: '2026-02-05T19:52:22.571Z'
                preferred_service: null
                received_at: null
                recipient_handle: null
                recipient_phone: null
                service: iMessage
      responses:
        '200':
[...]
